[2014-07-12 08:45] bradberger opened #1 "AngularJS module"

[2014-07-12 08:45] bradberger opened #2 "jQuery module"

[2014-07-12 08:46] ChunkRadius opened #3 "Integration with HTML5 Notification API"

[2014-07-12 08:46] bradberger opened #4 "Port to Dart"

[2014-07-12 08:46] bradberger opened #5 "Angular.dart module"

[2014-07-12 08:47] bradberger opened #6 "Sass support"

[2014-07-12 08:47] bradberger opened #7 "LESS support"

[2014-07-12 08:48] bradberger opened #8 "Custom polymer element(s)"

[2014-07-12 08:50] ChunkRadius opened #9 "New bower package"

[2014-07-12 08:51] ChunkRadius opened #10 "New jsDelivr package"

[2014-07-14 12:02] #10 closed, assigned to ChunkRadius

[2014-07-31 10:47] alejandro-anv opened #13 "can't catch click on notification"
I can't find the way to catch the click (or hide) event of a alertify.js event. I set up the time to 0 in order to wait to the user for click in the message. Is there any way to attach a funtion to this event?

[2014-08-01 06:57] #13 closed, assigned to nobody

[2014-08-01 07:02] #9 closed, assigned to ChunkRadius

[2014-08-06 13:52] supun151515 opened #14 "Joomla 3.3.3 with alertify not working."
When I use this js with Joomla article button or module button, it shows message in the bottom of the page and it is not working. 'OK' button not working as well.

Thnak you,
Supun Silva

[2014-09-08 07:48] #14 closed, assigned to nobody

[2014-10-22 01:37] justin-hackin opened #15 "Make alertify blocking like original prompt"
Currently I'm trying to replace a prompt call with your beautiful little app here but I can't because I'm using it in a recursive function call.  In particular, if a particular name property is invalid, then the dialog will ask for a unique name through the prompt until it gets one.   It would be much nicer if the alertify.prompt just returned the value of the input.  It could be made to work as s

[2014-11-06 19:45] ronaldjeremy opened #16 "Alertify.log prevents touch in Android 4.04"
We started getting complaints that our web app sometimes became unusable, and I was able to isolate it to Alertify.log on Android 4.04.

It appears as if each alert will fill up an invisible space at the bottom of the screen and render it "un-touchable".  After sucessive alerts, the "untouchable" space grows until nothing at all can be touched on the screen.

I tested it on a device that was using

[2015-01-03 12:47] czirkoszoltan opened #17 "Enter key opens&closes prompt dialog immediately"
When an alertify prompt dialog is opened by pressing an Enter on a button, the Enter keyup will be received by alertify, and it will close the prompt dialog immediately (with success).
This can be reproduced on the homepage http://alertifyjs.org/ as well. Go to "Default dialogs" in the example section. There is the "Prompt dialog" button. Select it so it is active (maybe by clicking it with the mo

[2015-01-06 16:47] bradberger commented on #17
Thanks for reporting it, and thanks for the clear explaination. I can reproduce it here, too. Seems like binding the keyup to the input field is a good way to go. I'm checking what it would take to make that happen.

[2015-01-06 17:11] czirkoszoltan commented on #17
I think the keyup event must be bound to the document.body, at least to handle the Escape keypress. for confirm & alert dialogs, there is no input field, but Escape should work for those too. Maybe two separate keyup handlers are necessary, one on the input field for the Enter key, and the other one on document.body for the Escape key.

[2015-01-06 17:13] bradberger commented on #17
Agreed. That makes sense. As mentioned, I'm looking it over now, but PR's are welcome, too :smile:

[2015-01-06 19:27] bradberger commented on #17
Should be fixed. Let me know if you don't find that to be true.

[2015-01-06 19:27] #17 closed

[2015-01-06 19:35] bradberger commented on #16
Merged fix from the gist into v0.3.15, so marking this closed.

[2015-01-06 19:35] #16 closed

[2015-01-07 09:26] czirkoszoltan commented on #17
Thank you!
In the new branch (issue17), alertify.js lines 161-173:

                // common event handler (keyup, ok and cancel)
                common = function(event) {
                    self.hide();
                    global.addEventListener("keyup", key);
                    global.addEventListener("keydown", keydown);
                    global.removeEventListener("focus", reset);

[2015-01-07 09:57] bradberger commented on #17
Good catch! Just updated it now.

[2015-01-26 15:27] tcsehv opened #18 "Include src folder in bower installation"
Right now only the minified version of the js and the compiled css are included in the bower package. When people want to customize the package or automate the integration (with gulp, Grunt etc.) of the package into their application it is easier to do from the source files.

solution: remove src from the ignore array in bower.json

[2015-01-27 22:18] bradberger commented on #18
Agreed! Just updated it with commit 71229ce390 and v0.3.16 in bower. Thanks for the feedback!

[2015-01-27 22:18] #18 closed

[2015-02-08 08:44] zalow517 opened #19 "Issue with 'Space bar'"
Whenever writing inside an input/dialog box and I hit the space bar on the keyboard, the dialog ends.

I am using a custom input box by adding it to the prompt's HTML:

var name = input id='pagenameinput-" + pr + "' type='text';

                                alertify.confirm("<b>Add Page</b> <br /><br />" +
                                                 "Enter name of page to be added to proj

[2015-04-01 04:26] Donzella opened #20 "alertify.confirm not closing when alert.success within"
I have an alertify.confirm where upon OK there is an ajax call and upon success of that call there is an alertify.success. If the call happens quickly, the confirm doesn't close. I don't know for sure what is happening but that is the circumstances that I have and the result I am getting. If I comment out the success call in the code below, it closes fine. Here's the code:

[code]

[2015-04-02 11:18] Clevero opened #21 "Possibility to "clear" all logs?"
is there a way to clear all the logs?

In my case, when the user switched the theme, there will be a log (with a delay of 10s). And if the user then switch to an another theme, before the old log was deleted, there are two logs. But I want to have just one log. So delete the old and then spawn the new. Is this possible?

[2015-04-02 15:56] bradberger commented on #20
Thanks for noting this! Will have a look at it, hopefully over the weekend.

To make sure I understand, it works if you comment out the success function that's part of the `$.ajax` call, or the `alertify.success` function call?

[2015-04-02 15:58] bradberger commented on #19
Hey @zalow517, sorry that I seemed to have missed this one until now. Are you still noticing the same issues? If so, would it be possible to post the entire code to Plunkr, JS Bin, or a similar service? Thanks!

[2015-04-02 15:59] bradberger commented on #21
Hey @Clevero that's a good question. I'm going to look into that and post what I find here. If it's not currently possible (I don't think it is, but need to double check), then it would be a great feature to have.

[2015-04-02 16:01] Donzella commented on #20
The alertify.success call

Sent from my Windows Phone
________________________________
From: Brad Berger<mailto:notifications@github.com>
Sent: ‎4/‎2/‎2015 10:56 AM
To: alertifyjs/alertify.js<mailto:alertify.js@noreply.github.com>
Cc: Darin Beard<mailto:darin.beard@live.com>
Subject: Re: [alertify.js] alertify.confirm not closing when alert.success within (#20)

Thanks for noting this! Will have a

[2015-04-02 16:13] #4 closed

[2015-04-02 16:13] #5 closed

[2015-04-06 17:20] tellnes commented on #15
Please try to keep this library small and don't introduce large deps like a promise shim. Also, promises is just a fancy way of writing callbacks by my opinion. You still need a callback, just defined in another way.

Lets wait for async/yield which is coming in es7. That will solve this issue.

[2015-04-06 18:52] bradberger commented on #15
@tellnes I like your thought. While I can't quite agree with that regarding promises, the underlying thought of keeping the library small is right on point.

The only issue right now is IE, and perhaps older Android, as [they've already landed everywhere else](http://caniuse.com/#search=promise). Having said that, I also think it makes sense for it to land *everywhere* to make use of it.

There is

[2015-04-16 00:34] bizmurr opened #23 "npm?"
Is this package available on npm?

[2015-04-16 13:55] bradberger commented on #23
No, it's a bit of a naming issue, as other forks have already taken the name. @rufuscoder seems to have the original package from Fabien Dorion registered. Perhaps we can convince him to let us use that :smile:

[2015-04-20 17:30] masimao opened #24 "Is it possible to align at top center?"
Hi,

Is it possible to align the notifications at top center of the page?

Thanks!

[2015-04-26 08:00] igorsantos07 opened #25 "Ember-cli / Broccoli fails to compile with Alertify.js"
Adding `dist/js/alertify.js` to `Brocfile.js` causes an error, apparently related to sourcemap location: `ENOENT: no such file or directory, open '/development/brocfile-test/tmp/tree_merger-tmp_dest_dir-VTDuE1yJ.tmp/bower_components/alertifyjs/dist/js/src/js/alertify.js'`

To reproduce:

[code]

Issue on `ember-cli`: [#3960](https://github.com/ember-cli/ember-cli/issues/3960)

[2015-06-02 09:57] bradberger commented on #25
Looks like the path is wrong in the error message. It should be either `/bower_components/alertifyjs/dist/js/alertify.js` or `/bower_components/alertifyjs/dist/js/alertify.js`, not `bower_components/alertifyjs/dist/js/src/js/alertify.js`.

Honestly, I've never used Ember-cli / Broccoli, so I'm not really sure other than than, but figuring out why the error message is displaying the incorrect path

[2015-06-02 10:06] bradberger commented on #24
Sorry for the delay in responding. Yes, it is. This seems to be working for me:

[code]

You'll just have to add it to any of your CSS files after including the Alertify css file.

[2015-06-24 16:22] shaneparsons opened #27 "Change Button Colour Dynamically / Multiple Buttons"
Correct me if I'm wrong, but it looks like you're resurrecting alertify?

If so, the following is an feature request I posted on the master branch (after maintenance was discontinued)

Keep up the good work!

[2015-06-24 16:32] bradberger commented on #27
You're right, it's being maintained here.

The request makes sense, and I think it's something that would be useful. Right now, it seems that it would be great for the next upcoming branch. Everything's going to get a major rewrite, so it would make sense to put it there.

[2015-06-24 16:45] shaneparsons commented on #27
Perfect, that's great to hear!
Thanks!

[2015-06-24 17:35] shaneparsons opened #28 "Unneccessary duplications / overrides - alertify-bootstrap-3.css"
I haven't checked the **alertify-bootstrap.css**, but with **alertify-bootstrap-3.css** I've noticed a lot of unnecessary duplications / double instances of classes, some of which override previous instances of it.
e.g.

[code]

[code]

Interesting that there are **284** lines of code in this version compared to the **134** lines of code in the previous **alertify.bootstrap.css** from the master b

[2015-06-24 18:14] shaneparsons commented on #28
Just an update on this:

The **src** files seem fine, and make sense (basically cleaned up versions of the old files) it's just the **dist** files that are messed up.

This brings me to the conclusion that something funny is going on in the build process.

[2015-06-24 18:28] shaneparsons commented on #28
Ah shit I see now.. **alertify-bootstrap-3.css** = **core.css** + **bootstrap.css**
Migrating over from the master branch is what caused the confusion, as there was no combined file.

[2015-06-24 18:28] #28 closed

[2015-06-24 19:19] bradberger commented on #28
:smile: No worries. Maybe that should be documented someplace actually. Think some work actually could be done to improve the documentation. If you have any ideas, feel free to mention them. The whole [website itself is on GitHub](https://github.com/alertifyjs/website), too, for what it's worth.

[2015-06-25 13:21] shaneparsons commented on #28
I think my main problem was that I didn't read the documentation or check the website, assuming everything was the same.

Putting a tiny readme / txt file with a bold name in the **dist/css** folder that states that it's only necessary to include one of the stylesheets could help people who are just migrating like I was.

Eventually in the future once most of the migration is done you could always

[2015-06-25 13:22] bradberger commented on #28
Makes sense, good suggestion. Thanks!

[2015-06-26 20:33] brabadu commented on #23
Since #26 is merged you can install it with npm by specifying scope

    npm install alertifyjs/alertify.js

[2015-06-27 15:00] tellnes commented on #23
@brabadu Yes that works, but it is not a solution. Depending on git urls has some downsides. (Btw, scope means something else in npm (https://docs.npmjs.com/misc/scope))

Maybe it can temporarily be published under another name until the naming issues is resolved?

[2015-06-28 07:09] #24 closed

[2015-06-28 07:10] #8 closed

[2015-06-28 11:00] bradberger opened #29 "Maintainers Wanted"
Hey everyone, we're looking for some community assistance with maintaining the project going forward. Would like to hear from anyone interested in being a regular maintainer, managing and responding to issues, helping draft the future of the project, etc.

If you'd like to help out, please indicate such in the comments below, and we'll try to get you added to the @alertifyjs/contributors team so y

[2015-06-28 11:15] bradberger commented on #23
Let's get a discussion going the naming issue now. Pavlos @ppoliani (who publishes the [alertify-js package](https://www.npmjs.com/package/alertify-js) and Rufus @rufuscoder who publishes the [alertify package](https://www.npmjs.com/package/alertify) would be up for consolidating those packages so we can reduce the confusion over package naming.

@tellnes In the meantime, any suggestions for a tem

[2015-06-28 11:16] bradberger commented on #29
The [Alertify.js Gitter.im chat room](https://gitter.im/alertifyjs/alertify.js) would be a great way to connect and discuss plans further.

[2015-06-28 11:31] bradberger opened #30 "jsDelivr repository"
@jimaek Would it be possible to get the [alertify.js](http://www.jsdelivr.com/#!alertify.js) repository pointed here? Not sure how that all works, or even if it is possible, but the original repository [fabien-d/alertify.js](https://github.com/fabien-d/alertify.js) is no longer actively maintained, and this fork is.

[2015-06-28 11:52] jimaek commented on #30
Sure you can simply send a PR to our repo and change the link. You can enable auto-updates as well if you wish. Use Github's web interface to speed things up.

[2015-06-28 12:47] tellnes commented on #23
The `alertify` package has not been updated in three years and @rufuscoder does not respond here. I propose you try to email him with a CC to npm, Inc (https://docs.npmjs.com/misc/disputes).

Also, the `alertify.js` name is available.

[2015-06-28 12:50] bradberger commented on #23
Ah, perfect. Thanks. Will do that now.

[2015-06-28 14:54] bradberger commented on #30
Thanks!

[2015-06-28 14:54] #30 closed

[2015-06-28 18:00] ppoliani commented on #23
Hi guys,

I will remove the package from the `npm` and make a new pull request.

[2015-06-28 18:57] bradberger commented on #23
@ppoliani Thanks so much Pavlos!

[2015-06-28 19:41] tellnes commented on #23
I see you have published `alertify.js`. I think that is actually the best name on npm for the projects.

[2015-07-01 08:51] bradberger commented on #23
@tellnes I agree. Actually I'm pretty new to npm publishing so I didn't realize that the `.` could be used in the package name. Thanks for pointing that out.

[2015-07-01 08:51] #23 closed

[2015-07-01 15:46] tellnes commented on #23
I see that at bower the package is published without the dot. Maybe we should change that to remove confusion?

[2015-07-01 15:59] bradberger commented on #23
Good point. How would that affect users who are already using the name as it is now? Does bower have a redirection for packages that move? (I can't seem to find anything on that...) I tried to publish it right now, but it gives a `DUPLICATE PACKAGE` error.

[2015-07-01 16:05] bradberger commented on #23
Actually, the original Alertify package is still published there at `alertify.js`. It doesn't show up in the web search at bower.io, but it does via the command line.

[2015-07-02 06:02] bradberger commented on #6
This was completed a while back, and just updated the file locations to make more sense in 7358f27ade

[2015-07-02 06:02] #6 closed

[2015-07-03 16:36] tellnes commented on #15
What about adding a promise aware api. If a global `Promise` constructor is available, then it will return a promise, if not the api returns `undefined`. The old callback api should always be supported.

[2015-07-06 07:09] bradberger commented on #15
Makes sense. Don't see any disadvantages to doing it that way. It should be quite lightweight to implement that way. I'll create a new issues for that, and add it to the "to-do" list.

[2015-07-06 07:09] #15 closed

[2015-07-06 07:10] bradberger opened #32 "Implement Promise API"
Per issue #15 add a new promise aware api. If a global Promise constructor is available, then it will return a promise, if not the api returns undefined. The old callback api should always be supported.

[2015-07-06 07:11] bradberger commented on #15
Created #32 to implement this. All PR's are welcomed!

[2015-07-27 07:48] #7 closed

[2015-07-27 07:49] bradberger commented on #25
@igorsantos07 Closing for now, feel free to re-open if needed.

[2015-07-27 07:49] #25 closed

[2015-07-27 07:49] #2 closed

[2015-08-14 10:18] Eschwinm opened #34 "Max number of log messages ?"
Planning on adding support to dismiss other log notifications when a new one is being shown ?
Because my whole screen will pop up with log messages at a given time.

It would be nice if theres going to be a setting which enables you to, lets say, 3 maximum log messages. If theres 3 on your screen and another one pops up, the top message will fade away.

Make this setting an integer from 0 to inifi

[2015-08-14 11:54] bradberger commented on #34
As mentioned via Gitter, I think this is a great idea and would definitely add overall value. Let's try to get this done asap.

[2015-08-14 11:54] bradberger commented on #34
I'm a bit swamped with work right now, not sure if anyone would be available to create a PR for this?

[2015-08-14 15:13] bradberger commented on #34
Created a new branch to test it out. The default is 3 per the suggestion.
It can be changed via the standard method for changing other options:

[code]

Let me know what you think. All tests are passing, so I think it can be merged pending any thoughts/comments/improvements.

[2015-08-14 15:23] bradberger commented on #21
Testing out an update now that would take care of the issue. It adds the option to set a max number of log items to be displayed at any given time, so you could use it as follows to accomplish what you need:

[code]

Right now, it's on a test branch, but if all goes well it will be published in `v0.3.19` shortly. Feel free to test it out now if you want and provide feedback. Thanks!

[2015-08-18 07:01] Eschwinm commented on #34
The max-logs work perfect, but I feel like when opening a dialog the very first time it's right away there, without a nice transition. I think this has been changed since this build unfortunately.

Also it would be very nice if you could click the overlay from the dialog to close the dialog. But very nice work you did there with the maxLogItems, works perfectly! :)

[2015-08-18 07:33] bradberger commented on #34
Ah, okay. Good catch. Didn't notice the missing opening transition, will take a look at that.

[2015-08-18 21:37] Eschwinm commented on #34
Could you notify me when you're releasing an update for this ? I'm looking forward to it, We're using this in the CMS we're currently building :)

[2015-08-18 23:02] bradberger commented on #34
Yes, absolutely. It's actually complete, added a few more changes in the meantime so have to go through them all...

[2015-08-19 13:27] Eschwinm commented on #34
When will you commit these new changes ? :')

[2015-08-22 16:14] bradberger opened #35 "Test ticket from Code Climate"

[2015-08-24 08:32] #35 closed

[2015-08-31 16:00] mariusk opened #36 "npm version outdated"
Default version from npm is outdated (it's 0.3 something), and requiring/importing it does not seem to work.

[2015-09-13 16:53] leolux opened #37 "Dependency on jQuery unwanted"
This makes the component not lightweight but heavyweight. If possible try to get rid of this dependency.

[2015-09-13 16:56] leolux opened #38 "Documentation about bower incorrect"
The installation command "bower install alertify.js" will not install alertifyjs/alertify.js but the original fabien-d/alertify.js. So the documentation on the website https://alertifyjs.org/ is wrong.

[2015-09-14 11:29] bradberger commented on #37
Actually, it doesn't depend on jQuery. jQuery is only a dev dependency which is used to make unit testing a bit easier. Alertify itself as it's used in the browser doesn't require jQuery.

[2015-09-14 11:29] #37 closed

[2015-09-14 11:38] bradberger commented on #38
Thanks for noting that. Commit abad9d3 fixes that.

[2015-09-14 11:38] #38 closed

[2015-09-14 11:43] bradberger commented on #36
Okay, thanks for noting that. I've actually never used it with require(). Do you have a code sample I can use to test? The package itself should be updated now, `1.0.0-rc2` is the showing over on [NPM](https://www.npmjs.com/package/alertify.js)

[2015-09-14 11:44] bradberger commented on #34
@Eschwinm Sorry, missed this message. Everything's been updated in the master/1.0 branch now, so that feature is there. If you need it backported `0.3` just let me know.

[2015-09-14 11:44] #34 closed

[2015-09-14 11:45] bradberger commented on #21
This has been published to the new master/1.0 branch, so feel free to test it out and let me know what you think. It's worth noting that there are a few breaking changes in that branch, so just be aware of that when updating. Nothing major, but depending on your code some things from 0.3 might need to be updated slightly to work with 1.0

[2015-09-14 11:45] #21 closed

[2015-09-14 11:46] bradberger commented on #1
This has been integrated into the master/1.0 branch.

[2015-09-14 11:46] #1 closed

[2015-09-14 13:52] leolux commented on #37
Oh, I didn't see that it is only a dev dependency. Thanks for your answer.

[2015-09-22 14:27] shaneparsons opened #39 "Default styling looks nothing like examples"
Title pretty much says it all.. The alerts look nothing like they do in the examples on alertifyjs.org.

Screenshot attached.

![screen shot 2015-09-22 at 10 26 02 am](https://cloud.githubusercontent.com/assets/5495493/10021140/7b1d8be8-6114-11e5-8355-8c9baf48d753.png)

Im pulling in alertify via npm btw.

[2015-09-24 07:39] bradberger commented on #39
The screenshot seems to be from the 0.3 branch. If you're pulling from npm, are you sure you're `package.json` is set up to get the latest `1.0` release?

[code]

[2015-09-24 07:41] bradberger commented on #36
This should be taken care of, now I'm remembering to publish the npm updates right away. Had forgotten that npm isn't like bower to handle updates automatically based on git tags.

[2015-09-24 07:41] #36 closed

[2015-09-24 13:26] shaneparsons commented on #39
It works now that I manually put `1.0.0-rc3` in my package.json.
It should be noted that `npm install alertify.js --save` defaults to a `0.3` branch though.
My guess is the `-rc3` is throwing it off some how.

[2015-09-24 13:26] #39 closed

[2015-09-24 13:41] shaneparsons opened #40 "Default button values not populating"
Without specifying `.okBtn("")` and  `.cancelBtn("")` values, the values seem to default to `UNDEFINED` rather than the default values of `ok` and `cancel`.

I had a quick look at the js to try to debug it, but couldn't figure out what's throwing it off.

![screen shot 2015-09-24 at 9 33 13 am](https://cloud.githubusercontent.com/assets/5495493/10074708/9243e326-629f-11e5-9ae1-1a00005e7743.png)

[2015-09-24 14:32] shaneparsons opened #41 "Enhancement: Add transition to showing / hiding of dialogue"
It'd be nice to have a subtle transition to diffuse the abruptness of the dialog appearing.
I'm thinking something along the lines of jquery's `fadeIn('fast')` / `fadeOut('fast')` would do wonders.

[2015-09-24 15:40] bradberger commented on #40
Will check it out. Would it be possible to post an example to jsfiddle/jsbin/etc?

[2015-09-24 15:43] bradberger commented on #41
Makes sense. There should have been one in there, but I'm not sure that maybe the issue isn't that it's just a bit too quick for it to be really noticeable.

Any thoughts on how long a transition you think would make sense? My thoughts are still to err on the "too quick" side of things to make it feel responsive, but suggestions are welcomed.

[2015-09-24 15:45] bradberger commented on #41
Same goes for the timing of the transition, too, as perhaps updating that might help.

[2015-09-24 18:09] shaneparsons commented on #41
I'm not sure what it's currently set to but `.25` with an `ease` is usually nice and snappy

[2015-09-24 18:17] shaneparsons opened #42 "Enhancement: Set focus on show"
For the `alertify.promt()` it'd be awesome if the input had focus when the dialog is shown!

[2015-09-24 20:35] shaneparsons commented on #42
In addition to this, submitting the data by hitting the enter key would also be great!

That functionality could also apply nicely to the `confirm()` and `alert()` dialogs as well.. although the confirm dialogs might be better with the cancel button focused, or an option to turn off the focusing just in case "ok" is followed by a delete function.

[2015-09-24 22:07] shaneparsons commented on #40
I'll try to set that up for you when I get a chance

[2015-09-24 22:13] shaneparsons commented on #29
I'd love to become a "occasional" contributor to this repo if possible?

I say occasional only because I work 9-5 throughout the week, so anytime I put in would have to be evenings and weekends, which I can't guarantee every day.

But I'd definitely be willing to put in work every once in a while, if your looking for someone like that?

[2015-09-24 22:29] bradberger commented on #29
@shaneparsons Definitely. That's kind of where we're all at with the project. Happily, sometimes I a project I'm working on uses Alertify so as to justify the time, but mostly it's a free-time project.

I've got to work up a little bit more documentation for contributing so as to get even more people on board, but more hands are definitely welcomed!

[2015-09-24 22:35] shaneparsons commented on #29
Ah perfect! Is there anywhere you'd like me to start?

[2015-09-24 22:37] bradberger commented on #29
Some of the issues you've brought up would be awesome if you had a chance to tackle them!

[2015-09-24 22:38] bradberger commented on #29
For what it's wroth, also wanted to go on record for everyone involved that my vision (and that of Christian, too, I believe, based on previous conversations) is to keep the library as light as possible. There are definitely more feature rich options out there, but the goal here isn't really to match that. I don't want it to become something bloated, but something that's just very light weight and

[2015-09-24 22:40] bradberger commented on #29
Oh, and that basically we should avoid committing directly to master without discussing it first :smile:

Also worth noting that the website is automatically built and deployed with passing builds on master, so any documentation changes should be done before pushing.

[2015-09-24 22:52] bradberger commented on #42
The focus for sure was in the older version, probably enter as well. It should be a relatively minor thing to add them back it, so I think that it would be a good addition.

@shaneparsons Are you in a position to do it? If you are, feel free to assign yourself to it.

[2015-09-24 22:56] bradberger commented on #3
0.5 never really happened, so this is up for grabs again.

[2015-09-24 23:07] shaneparsons commented on #42
@bradberger Yeah definitely! How do I assign myself?

[2015-09-25 14:56] bradberger commented on #42
@shaneparsons I think you'll have to accept the invite to join the contributors group first, and then you should have the option in the right column of the issue.

[2015-09-27 10:43] ganySA opened #43 "bower: does not bring down ngAlertify.js?"
Not sure why but when i install using bower i dont get the ngAlertify file...

[2015-09-27 11:53] bradberger commented on #43
Thanks for reporting the issue, going to try to check it out today.

[2015-09-27 11:54] bradberger commented on #40
Actually came across this today, so should have a fix shortly.

[2015-09-27 15:35] bradberger commented on #43
What does the relative part of your `bower.json` config file look like? It might be that you're not getting the latest version which has that.

[2015-09-28 08:49] bradberger commented on #40
Should be fixed in c6fcba2107344996bae72bdb529b785be7dccfe5, obviously let me know if you're still having issues.

[2015-09-28 08:49] #40 closed

[2015-09-28 09:01] bradberger commented on #43
Was able to try a fresh install via bower, and it's working now. But it was just updated to `1.0.1` so keep that in mind. The previous release candidate had an issue with the `ngAlertify` module anyways, so you'll definitely want to use this version. Any `0.x` version doesn't have the module.

[2015-09-28 10:16] #43 closed

[2015-09-28 10:16] bradberger commented on #43
If you're still having issues with it, please feel free to comment and/or re-opoen

[2015-09-28 10:17] bradberger commented on #41
This got incorporated it c0dcab784e29501ab1c49c9e30cc41b124e96604. Turns out the process was a bit off, so the proper classes to trigger the transition weren't being added.

[2015-09-28 10:17] #41 closed

[2015-09-28 18:42] ganySA commented on #43
Thanks will test!

[2015-09-29 00:37] shaneparsons commented on #27
@bradberger I personally don't know if we need this anymore, but I'm interested to know what you think.

I'm personally quite fond of the new style of alertify.js, i.e. the colourless buttons, and figure it's easy enough to append a `.alertify-button-ok { background: green; }` to the head anyways.

Let me know.

[2015-09-29 08:46] bradberger commented on #27
Yeah, think you might be right again.

One thing that I've had in mind and would still like to get implemented is allowing the whole template to change dynamically, which would take care of all of that. It would be something like:

[code]

That would allow for custom buttons, styles, etc. Right now the html for some parts of the dialogs/etc. would be [very easy to change](https://github.com/alerti

[2015-10-01 14:36] shaneparsons opened #46 "alertify-bootstrap-3.css missing"
I just updated to `1.0.2` and noticed that  `alertify-bootstrap-3.css` is missing.

[2015-10-07 14:21] denheck commented on #32
Hey @bradberger, I would like to give adding this feature a try. I have a question for you before I get started.

It looks like prompt, confirm and alert all have a fluent interface and return "this". How would you like to determine when to keep the interface fluent and when to return a Promise. I want to avoid breaking backward compatibility as much as possible.

One potential solution is call a

[2015-10-07 15:03] bradberger commented on #32
@denheck Thanks for being willing to help out!

I actually don't think it would be an issue to just not return `this` and return the promise instead to keep things simple. That the interface is fluent for the actual methods like `log()` etc isn't actually anything that's published anywhere as far as I can remember, so using it that was isn't really officially a feature. Nor do any unit tests check

[2015-10-08 18:46] denheck commented on #32
@bradberger here is a link to my PR: https://github.com/alertifyjs/alertify.js/pull/47

Let me know if you would like me to change anything. Thanks!

[2015-10-08 19:54] bradberger commented on #32
Looks great, thanks! I'll double check everything tomorrow and merge it.

The only thing is if it's possible to add tests for it, that would be great. So far the project is kind of behind the whole testing game and has very low coverage. but if we can implement it for new changes that would be great.

[2015-10-08 19:57] bradberger commented on #32
@denheck Also sent you an invitation to join the contributors team, we're definitely looking to get more people on board to help out with the project and try to keep it alive :smile:

[2015-10-08 19:59] bradberger commented on #46
Yeah, I messed that up with the last commit. Deleted it when fooling around with some new changes. Do you think you could add them back? Worth noting that the CSS structure changed, and a lot of extra classes were removed, so the sass will need some tweaking from the previous versions. If you can't get to it I'll try over the course of the next few days.

[2015-10-08 23:55] denheck commented on #32
@bradberger Thanks for the invite! I would be happy to add tests for it. I should be able to do that over the weekend.

[2015-10-09 14:47] denheck commented on #32
I am having a hard time getting Sauce Connect to start when I run `npm test`. I think I may need to specify a username and password. Is there a separate dotfile with credentials that I need or something similar to get the test suite to run on my machine?

Karma Debug Log:
[code]

Here is the output I get when running Sauce Connect manually:
[code]

[2015-10-09 15:15] bradberger commented on #32
Yeah, I think that has to be set up. I'll try to get you that when I get back in.

I actually think the workflow for local development doesn't even require it, as the there are gulp commands for local testing, and that's more of a CI test, but either way let me see what I can do to get you those credentials when I get back in...

Just sent you an invite for the CI system too, so you can re-run tes

[2015-10-09 15:16] bradberger commented on #32
Actually think I'm going to need to create a Alertify team on Sauce, so will try to get to that later on this evening, then you can set up your own credentials as a team member.

[2015-10-10 06:36] bradberger commented on #29
For anyone who's on the team, just ping me to get Semaphore CI and Sauce Labs invites/credentials if you need them.

[2015-10-10 16:19] denheck commented on #32
Thanks @bradberger, that helped solve my problem! I forgot to commit the dist files and quickly realized it after running the ci tests on my local repo. I updated my PR and the tests are now passing. Let me know if you need me to make any other changes before merging.

[2015-10-10 19:30] bradberger commented on #32
Awesome, thanks @denheck! It's been a crazy day and haven't had a chance to look at it yet, but I'm sure it's all good :smile:

[2015-10-10 21:09] bradberger commented on #32
Just updated bower and npm, too, so everything's merged. The website should be too, though it might take a bit for the cache to show the changes.

@denheck Thanks again!

[2015-10-10 21:09] #32 closed

[2015-10-12 01:30] ollie314 commented on #29
If I can help to improve this, I'm on as an shiny and small contributor since my knowledge aren't so relevant in javascript..

[2015-10-12 01:32] ollie314 commented on #42
Trying to adress the enhancement. Open to discuss since it's the first commit in this repo.

[2015-10-12 07:10] bradberger opened #49 "Allow customization of location of log elements"
Add a new public method to allow customization of the position of log elements. Will need to also update the current CSS transitions to support various locations. There's already a request for positioning at top right, but my thought is that we should support any combination of top/bottom left/right for most compatibility.

[2015-10-12 07:13] bradberger opened #50 ""Native" support for themes"
Idea around this to add "native" support for various frameworks - Bootstrap, Purecss, Angular Material, etc. by customizing the templates to include proper classes for various elements in each framework.

This is in progress right now, but needs to be completed, and help is welcome. Right now a few frameworks I've added are below, but more are welcomed:

- Bootstrap
- Angular Material
- Pure CSS
-

[2015-10-12 07:41] bradberger commented on #29
@ollie314 Awesome, thanks!

[2015-10-12 20:28] omarb13 opened #51 "alertify"
alertify.log("Will stay until clicked", "", 0);

is still closing automatically..

[2015-10-12 21:04] bradberger commented on #51
Can you provide a jsfiddle/jsbin example of it not working? From what I can tell based on the examples on the website, it's working fine there, so an example to reproduce the issue would be helpful.

Might be worth noting in version 1 and up that it will close if there are multiple log messages and it gets "pushed" into hiding, that's part of the design.

[2015-10-12 22:16] omarb13 commented on #51
http://jsfiddle.net/mpqqhrc6/

[2015-10-13 06:20] bradberger commented on #51
Thanks. Turns out that the website documentation is outdated, the code example needs to be updated. It should be:

[code]

[2015-10-13 07:06] bradberger commented on #51
Changes are being pushed to the website now, so closing this. Thanks!

[2015-10-13 07:06] #51 closed

[2015-10-13 09:27] omarb13 commented on #51
thx.. but after doing the changes based on that.. the alerts can't be dismissed even when they are clicked...
http://jsfiddle.net/mpqqhrc6/1/

[2015-10-13 10:04] bradberger commented on #51
Yeah, close on click isn't the default in this version, so:

[code]

It can be set once, too, if that's the default functionality you're looking for, as in your example:

[code]

[2015-10-14 16:27] amazingSurge opened #52 "bootstrap theme input"
When use bootstrap theme, please updaste input as well.

[code]

[2015-10-14 17:54] amazingSurge opened #53 "Standone css"
Can we not inject the css with js?

[code]

It's causing issues when i try style the elements.

[2015-10-14 19:42] bradberger commented on #53
Sure, that shouldn't be a problem to add as an option. Will add it to the to-do list for the next release.

[2015-10-14 19:43] bradberger commented on #52
Definitely, have added it to the list for the next release

[2015-10-14 19:45] bradberger commented on #50
Need to update Bootstrap to include the default classes for the input element, too. See issue #52

[2015-10-14 19:46] bradberger commented on #27
Going to close this for now, as it's more a part of issue #50 now

[2015-10-14 19:46] #27 closed

[2015-10-14 19:46] #42 closed

[2015-10-14 23:11] ollie314 commented on #49
Is ready means you do the implementation ?

[2015-10-15 05:17] bradberger commented on #49
No, if I'm ready to do it I'll self-assign it. Items which aren't assigned means that nobody is currently working on it. It's more that it's "ready" to be worked on by anyone. That label is from waffle.io which is kind of like Trello for GitHub - https://waffle.io/alertifyjs/alertify.js/join

[2015-10-15 05:19] bradberger commented on #53
In the meantime, also wondering if wouldn't mind explaining the issues you're coming across so we can address those as well. It should be set up in a way that allows you to style the elements afterwards, so if that's not working than it we'll fix it too.

[2015-10-15 10:20] #49 closed

[2015-10-15 10:21] bradberger commented on #49
@mattiasnordqvist This just landed in the latest version.

[2015-10-15 10:21] bradberger commented on #52
@amazingSurge This just landed in `v1.0.5`

[2015-10-15 10:21] #52 closed

[2015-10-15 10:22] bradberger commented on #53
@amazingSurge This just landed in `v1.0.5`, the docs are on the website now. Just basically requires including of any element with an id of "alertifyCSS" before including the javascript.

[2015-10-15 10:22] #53 closed

[2015-10-15 10:23] bradberger commented on #19
Closing due to inactivity. If we can get a reproducible example would be happy to reopen.

[2015-10-15 10:23] #19 closed

[2015-10-15 12:35] shaneparsons commented on #46
Sorry I've had no time for anything lately. I'll try to set aside time for this tonight!

[2015-10-15 13:28] bradberger commented on #46
I know how that goes, no worries :smile:

[2015-10-16 01:59] shaneparsons commented on #46
I just came to the realization that this is pretty much deprecated now that the `alertify.theme("bootstrap");` functionality is implemented.

No one needs extra stylesheets.

[2015-10-16 01:59] #46 closed

[2015-10-16 11:57] bradberger commented on #46
Agreed, you're absolutely right, I think that method of theming will be much more flexible.

[2015-10-16 13:55] shaneparsons commented on #42
It'd be awesome if there could be an option to set which button was focused with an option. i.e `.btnFocus('ok')` or `.btnFocus('cancel')`.. The default could remain `OK` but for destructive actions, the user would probably want `CANCEL` focused.

Should I open a new issue or just re-open this one?

[2015-10-16 16:03] bradberger commented on #42
@shaneparsons Either one is fine.

[2015-10-18 00:26] ollie314 commented on #49
Awesome !
Too fast for me :) !

[2015-10-21 20:57] shaneparsons opened #54 "Max Length - Prompt Dialogue"
I just ran into a situation where this would be useful and thought i'd add it.

Basically it would just be an option to set the `maxlength` property of the input field in the prompt dialogue.

Something like `.length(15)` would add a `maxlength` property on the input.

[2015-10-22 07:19] bradberger commented on #54
Sure, let's do it! I don't think that would add much complexity/bytes to anything, so it makes sense. Is that something that can be assigned to you?

[2015-10-22 11:46] shaneparsons commented on #54
Yeaa I'll give it a shot

[2015-10-23 20:04] ollie314 opened #55 "Closing persistent alert from inside callback"
It would be great to have a way to be able to show a toast an close it inside a callback. It may use when a remote transaction is processing.

**Note** : According to the [material design recomandation](https://www.google.com/design/spec/components/snackbars-toasts.html#), it shouldn't contains an icon.

I'm trying to explain the concept whith a pseudo code.

[code]

To keep the alertify's chainin

[2015-10-24 04:06] bradberger commented on #55
To me it definitely seems useful to be able to close a log message via code, I like that and would like to see it added.

As far as message stacking, that's actually a feature that I've never been 100% thrilled with. To me, it seems that if there's more than one message being displayed at the same time, then something is wrong from a user experience point of view. How many messages is it practical

[2015-10-25 08:51] ollie314 commented on #55
Ok,
I'm inline with that.
I purpose to split the issue in two. The first one is dedicated to never have more than 1 toast at a time, the second one to implement a global method whiches hide the existing message.

[2015-10-25 14:18] bradberger commented on #55
That sounds good. Thanks in advance!

[2015-11-17 14:06] voidstate commented on #50
Can I suggest you use different Bootstrap classes?

Currently you have:

    this.dialogs.buttons.ok = "<button class='ok btn btn-success' tabindex='1'>{{ok}}</button>";
    this.dialogs.buttons.cancel = "<button class='cancel btn btn-danger' tabindex='2'>{{cancel}}</button>";

So cancel is btn-danger and ok is btn-success. To fit with the examples on the Bootstrap site, you should have btn-defaul

[2015-11-17 16:06] bradberger commented on #50
Agreed, that makes sense. If you want to submit a PR that would be great, otherwise I'll add it to the to-do list and get to it as soon as I can...

[2015-11-17 19:00] tjratch opened #56 ""Log with callback" and "Closing Log On Click" doesn't seem to work"
Hi There,

Firstly, love what you have done.

It seems he "Log with callback' functionality is not working as intended. When clicking on the notification, the callback does not seem be called. I'm seeing this behaviour on your demo site as well.

[2015-11-17 19:18] tjratch commented on #56
It seems "Closing Log On Click" also does not work

[2015-11-17 19:59] tjratch commented on #56
After some digging, it appears to be related to the css.

[2015-11-17 20:09] tjratch commented on #56
Bingo. Remove the "pointer-events: none" line in the following CSS block.

Change:
[code]
to
[code]

[2015-11-17 20:12] tjratch commented on #56
Also, the cody in the dist folder does not match the code in the src folder. For instance, the code in the dist folder is missing the ```logPosition``` function

[2015-11-17 20:13] tjratch commented on #56
Hope this Helps!

[2015-11-17 20:15] bradberger commented on #56
@tjratch Thanks, yeah I'm not sure when it was broken, but you're right, that's the fix. Do you want to submit a PR or should I just go ahead and fix it?

[2015-11-17 20:16] tjratch commented on #56
If it's not too much trouble, could you put the fix in?

[2015-11-17 20:17] bradberger commented on #56
Sure, no problem. Not sure I'll get to it this evening, but should be able to do it tomorrow at worst.

[2015-11-17 20:17] tjratch commented on #56
No rush. I made my change locally already

[2015-11-17 21:03] #56 closed

[2015-11-30 08:06] stackoverflows opened #57 "Closing prompt when hitting enter"
Greetings,

It's accepted UI for prompt dialogs to be closed once the user entered in the required information and hit Enter. Unfortunately that doesn't happen here (at least on Chrome).

[2015-11-30 09:49] bradberger commented on #57
You're right about that, that's definitely the desired behavior, so we'll add this to the list of items for the next release. For some reason I thought it was supposed to already do that, but maybe it was never set up, or maybe it's a bug.

@alertifyjs/contributors Anyone who has a chance to take it and work on it is welcomed to do so, if not I'll try during the course of the week to see what I ca

[2015-12-04 18:48] pzgz opened #60 "Click on log message won't close it in 1.0.5"
Please refer to following fiddle.

http://jsfiddle.net/mpqqhrc6/2/

Changed to 1.0.4 can fix the issue.

[2015-12-04 19:04] bradberger commented on #60
This is actually a duplicate of #56 and it's been fixed in 1.0.6, it's just that the related git tag was missing, so I've added it now, and you should be good to go with that version.

[2015-12-04 19:04] #60 closed

[2015-12-10 11:38] amazingSurge commented on #52
Good work. Thank you!

[2015-12-10 11:38] amazingSurge commented on #53
Thanks!

[2015-12-11 20:25] tnrich opened #62 "usage with webpack/browserify"
Hey, so it looks like this can be installed via npm, but it doesn't look like it can be consumed using webpack/browserify.

eg.

`import alertify from 'alertify.js';`

doesn't work.

Any reason why this should be the case?

[2015-12-11 20:52] bradberger commented on #62
That's a good question, honestly I've never used it that way, so it might be a mistake. We just had a recent PR from @sakabako 944ba40bf45d9e070b4c35d37de3a9b21a8512f2 that might have addressed this already, but really I'm not sure.

Could you check it out and let me know if that's the solution we need?

[2015-12-11 21:05] sakabako commented on #62
try `import default from 'alertify.js'`

[2015-12-11 22:02] tnrich commented on #62
`import alertify from 'alertify.js';`

did not work for me so I think it is broken.

And it looks like the problem is that this change didn't make it into the npm module yet:
[code]

You probably just need to publish the new code to npm.

Thanks for the response :)

[2015-12-11 22:05] bradberger commented on #62
Okay, perfect. Thanks for the update. I've just got to bump the version and then I'll publish it.

[2015-12-11 22:06] tnrich commented on #62
Great thanks!

On Fri, Dec 11, 2015 at 2:05 PM Brad Berger <notifications@github.com>
wrote:

[2015-12-12 07:17] bradberger commented on #62
It's published now as `1.0.7`. Feel free to re-open if that doesn't fix things.

[2015-12-12 07:17] #62 closed

[2015-12-24 00:57] igorsantos07 commented on #50
+1 on this. I have a simple dialog and wanted to have a `btn-success` on it. Got around the issue uglily accessing the "private" object and changing the template directly, but would be way cooler if we could define custom classes - this could get in the way of the lib's lightness, tho.

Sidenote: there are no docs on this. Are you going to include the `.theme()` method on the docs page, or could I

[2015-12-29 12:33] bradberger commented on #50
@igorsantos07 Go ahead and PR it, you're right it should be on the docs page. Same goes for the second parameter. That sounds like a good idea!

[2016-01-09 17:11] ericlenio opened #65 "dialog resizes when buttons are focused or unfocused"
When a button is focused, alertify draws a 1px border around that button. When unfocused, the border is removed. For some dialogs, like the first example dialog on alertifyjs.org, it shrinks/unshrinks the dialog by 2 pixels: open the example and then click anywhere but on the OK button and you will see the dialog shrink by 2 pixels. Here's a workaround that fixes it for me:

.alertify .dialog nav

[2016-01-12 12:50] RemizZ opened #66 "Waiting for confirmation before continuing"
I just ran into a problem with the confirm prompt. I doesn't seem to stop the script to wait for a user input.
This is especially problematic because I have to use e.preventDefault() to even use it at all, which makes it quite difficult to use this script in a generic multi-purpose confirm function, because you can't just return to the default desired action after the user confirms or denies the c

[2016-01-15 13:55] expl0r3r commented on #29
I'd like to help too. I can help with ngAlertify.

[2016-01-16 07:43] gabn88 opened #67 "Warnings would be cool, in orange!"
If I look at Bootstrap or Django there are several more options next to 'log', 'error' and 'success'. For example Django:

info
success
warning
error

It would be cool to include those into alertify if possible :)

[2016-01-18 22:52] ollie314 opened #68 "Delay bug if you set a NaN as time"
This kind of code (unexpected since 'a' is not a valid time but ... :))
[code]
will set delay to undefined instead of resetting it to default delay.

[2016-01-19 22:10] bradberger commented on #65
Thanks, good catch. That workaround is perfect. Will try to make sure it gets into the next release.

[2016-01-19 23:34] ollie314 commented on #68
Argh, sorry for the disturb. Semaphore-ci first steps are laborious

[2016-01-24 19:13] xtrasmal opened #69 "Great library"
I was using sweet alert before, but this is way better. Thanks!

[2016-02-18 13:18] sgoran opened #70 "closeLogOnClick(true) kills the inner Html"
[code]

When I click on h3 or p, they will be destroyed, not the entire box

[2016-02-18 17:33] bradberger commented on #70
Yes, that definitely shouldn't be happening. Thanks for pointing it out. Added it to the to-do list for the next update.

[2016-02-19 21:14] saritasa opened #71 "how to change the position of the notification?"
I'm using 1.6.1 installed via npm install
[code]
console complains on first line, saying function doesn't exist.

[2016-02-19 21:44] expl0r3r commented on #71
Did you `import` the module inside your js file?

[2016-02-19 22:22] saritasa commented on #71
yes, I see the notification at the bottom right position. I Checked source
code and there is no method logPosition, but it exists inside current git
head. It means npm has older files for some reason

On Fri, Feb 19, 2016 at 1:44 PM, Kaushal <notifications@github.com> wrote:

--
*Simplicity - Beauty of the Person. *
Clickbrand.com - making tomorrow today

[2016-02-20 04:51] bradberger commented on #71
Are you sure you're using the same Alertify project? There are actually a few different ones on npm, and this one it currently at version [1.0.6](https://www.npmjs.com/package/alertify.js).

I think you might be using [this Alertify package](https://www.npmjs.com/package/alertifyjs) currently, which is at v1.6. That's a different fork of the original project, and so has a bit different feature set

[2016-02-23 16:00] kfriend opened #72 "Programmatically close or manipulate a dialog box"
Is there an official way of doing this? I checked the docs, past issues for a related topic, and scanned the source for any exposed functionality, but wasn't able to find anything.

The situation I'm in is that I have an interface that auto saves a user's progress. When the user switches to a different area on the interface, the feature detects if the user's state is "dirty", and launches an alert

[2016-02-23 16:01] kfriend commented on #72
Also, I know you could query the DOM for the node, and manipulate it that way. I was looking for a less hacky way, if there was an official method of doing it.

[2016-02-23 16:48] #71 closed

[2016-02-23 16:48] bradberger commented on #69
@xtrasmal Glad you're enjoying it!

[2016-02-23 16:48] #69 closed

[2016-02-23 16:50] bradberger commented on #29
@expl0r3r Thanks!

[2016-02-23 16:53] #20 closed

[2016-02-23 16:53] #29 closed

[2016-02-23 16:56] bradberger commented on #66
I don't think there is a real solution to that. I understand that the native `confirm()` function does that, and I can definitely see where it would be useful to have that kind of option, but I think that technically it's just not possible to stop the script completely. I could be mistaken, but that's my current understanding of things.

[2016-02-23 16:56] #66 closed

[2016-02-23 16:59] bradberger commented on #67
I think we could definitely accommodate this, but instead of forcing orange it seems like it might be more useful just to allow custom classes. I think the goal is to keep things as generic as possible for simplicity and size. But if we added an API to allow adding custom classes, it could make it simple to customize the colors on demand.

I'll keep this open. Hopefully someone can jump in and hel

[2016-02-23 17:31] bradberger commented on #67
Actually it looks like we already might have [a PR](https://github.com/alertifyjs/alertify.js/pull/61) but I think we just need to finalize it.

[2016-02-23 17:38] bradberger commented on #65
Fixed in 371e545

[2016-02-23 17:38] #65 closed

[2016-02-29 00:29] ericlenio opened #74 "dialogs with their own input elements conflict with alerify"
I discovered this while trying to write an alert dialog which happened to have its own set of radio buttons and labels. alertify.js has too generic a querySelector statement that was messing up the dialog. Here's how I fixed it. It probably should be more elegant, e.g., assign an alertify-specific class to the input element. Side note: the default CSS that impacts "input" elements might also be a

[2016-03-03 01:49] Nepherim commented on #74
In fact dialogs with form based content have base page styling over-ridden. Field elements are increased in size to extend to dialog boundary, and labels are centered.

Additionally, .dialog boundaries do not accomodate fixed size textareas. The textarea spills over the .dialog size.

[2016-03-03 05:33] kinsly opened #75 "how to set z-index for notifications"
Notifications are appear below my css components. (ex. navigation bar).
I experienced the same problem In your website when i try Log Messages ->Setting the Position->Try button. please help me to fix this.

[2016-03-03 13:30] expl0r3r commented on #75
[code]

[2016-03-03 18:40] andykais opened #76 "set alertify element location"
It would be helpful to be able to specify where alertify is located in the DOM. I for instance and using angular and if I want to put an `ng-click` attribute inside alertify, it needs to be within the ui-view to work properly
[code]

[2016-03-04 06:48] bradberger commented on #76
Okay, I think we can do that. My idea would be a method something like this:

[code]

and then the output would be appended as a child of whatever element is set as the parent, with `document.body` as the fallback if nothing was specified. Would that work?

[2016-03-04 09:15] #76 closed

[2016-03-04 09:30] #75 closed

[2016-03-04 12:18] andykais commented on #76
Yes! That sounds perfect. Would this be part of the next release of alertify?

[2016-03-07 21:07] tnrich opened #78 "Website not working"
None of the examples on the website are working for me.

[2016-03-08 08:31] bradberger commented on #76
@andykais Yes, it's now published with `1.0.10` and available via download here, bower, or npm.

[2016-03-08 08:39] bradberger commented on #78
Thanks for reporting it. There was an issue with a merge conflict that triggered the error, and it's fixed now. Sometimes takes a little bit for the related Google Cloud Storage bucket and CloudFlare to reflect changes, but they should appear soon.

[2016-03-08 08:39] #78 closed

[2016-03-09 03:03] vimorozov opened #79 "Xss on inputs"
Hi i found a bug, a xss persistent and non persistent

Best regards, vickom.
Sorry for my bad english

[2016-03-11 17:20] clark-stevenson commented on #76
:+1:

[2016-03-12 20:08] dtruel opened #80 "Cannot read property 'appendChild' of null"
Hi,
None of the alerts work for me.

I'm using angular and meteor

[code]

[2016-03-12 20:38] dtruel commented on #80
Found the solution - wrap the source code in jquery `$(document).ready()`.  Since I'm using meteor I can't defer loading till the end of the page.

[2016-03-12 20:38] #80 closed

[2016-03-13 02:44] andykais commented on #76
just tested 1.0.10 and the method does not appear to work, `alertify.parent(divElement)` returns undefined, meaning it has to be the last attribute in a chain and setting it with just
[code]
does not appear to change its location, and yes the element exists

[2016-03-14 19:37] jedd-ahyoung opened #82 "Allow passing an element to alertify functions instead of message string"
I'd like to be able to pass a DOM element to Alertify instead of a message string. I want to do this because I'm working with a binding framework and I'd like to be able to use Alertify as a general modal solution. The framework will create a view slot that's bound to a DOM element, and it will create all of its changes in that element. As such, I want to call `document.createElement` and then pas

[2016-03-15 04:51] bradberger commented on #82
Sure that makes perfect sense. That's a good approach, too. I'd be happy to
merge such a PR.

[2016-03-15 16:11] Ganbin opened #83 "Q : What is the benefit to use alertify as an angular module."
Hi all,

Why not use it simply as a global variable available everywhere in the app?

What's the benefit?

[2016-03-17 18:29] jedd-ahyoung commented on #82
So I'm looking more at this and I'm realizing that there's a bit of work to do to make this really viable. I'll list the issues here.

1. There's no way to programmatically close the modal - at least not from the external API.
2. The modal styles make a lot of assumptions about how the data will be formatted - using child selectors and wildcard selectors (`*`) fairly liberally. This causes a lot o

[2016-03-19 11:47] wingoku opened #84 "Injecting text in an already visible Dialog"
I am making a chat app. I want to inject the messages sent from other users in the Alertify Promt box which is already showing on the screen. How can I do that?

[2016-03-22 05:52] Maopy opened #85 "can i import alertify in react"

[2016-03-24 04:30] expl0r3r commented on #85
I suppose so.
We use webpack and this is what we do,
`import alertify from 'alertify.js';`

And use alertify as documented.

[2016-03-29 09:30] #70 closed

[2016-03-29 09:31] bradberger commented on #83
Some don't particularly like global variables for whatever reason. Other than that there's no advantage really.

[2016-03-29 09:31] #83 closed

[2016-03-30 06:59] sebrojas14 opened #88 "Ionic problem"
I'm using this library with Ionic (http://ionicframework.com/) and now is not working because you put the z-index in 1, and that causes alerts be behind views (with z-index 3)

[2016-03-31 15:21] DiganmeGiovanni commented on #85
I'm using this way:
`var alertify = require('alertify.js')`

And displaying alerts:
`alertify().alert('I am an alert')`

[2016-04-01 11:09] #68 closed

[2016-04-01 11:12] ollie314 commented on #88
Hi,
Thanks for the report.
Do you have a snippet to send to us so that we have to reproduce the issue with our specific case ?
Regards

[2016-04-01 11:18] ollie314 commented on #84
Hi,
I think a thing like the following one should works,

[code]
As long as your alert is visible, you'll can change the message inside.it.

[2016-04-01 16:26] sebrojas14 commented on #88
I'm a little busy now but as soon as I can I'm gonna make a codepen for you

[2016-04-11 17:09] brianespinosa commented on #50
@bradberger Is there a branch that this is being worked on from. I can assist with some of this as well. I would also like to suggest that [Semantic UI](https://github.com/Semantic-Org/Semantic-UI) be added to the list.

Additionally, though maybe not related to this issue, it would be great to be able to disable the injected CSS for alertify.js in another manner. There is no way to disable the in

[2016-04-11 18:34] brianespinosa commented on #27
@bradberger It would make sense if you could do something like this:

`alertify
  .okBtn("Remove")
  .okBtnClass("cancel")
  .cancelBtn("Cancel")
  .cancelBtnClass("tertiary")
  .confirm('Are you sure you want to remove from the team?')`

This way you could easily switch the classes around. Right now in my styles I have the `.ok` class set to a green background and the `.cancel` class to a red. It

[2016-04-17 18:08] tobya opened #90 "Script tag wrong on alertifyjs.org"
Hi

on your alertifyjs.org you have a tag to help people load the code from rawgit

    <-- standard version -->
    <script src="https://cdn.rawgit.com/alertifyjs/alertify.js/v1.0.10/dist/js/alertify.js"><script>

the / is missing in the closing `</script>` tag.  This is  a problem and causes an error in  page.

[2016-04-20 09:05] #85 closed

[2016-04-20 09:05] bradberger commented on #85
Closing this as it seems to have been answered. If not, feel free to comment and/or re-open.

[2016-04-20 09:06] bradberger commented on #84
Closing this as it seems to have been answered. If not, feel free to comment and/or re-open.

@ollie314 Thanks for the answer!

[2016-04-20 09:06] #84 closed

[2016-04-20 09:07] bradberger commented on #72
There isn't a better way. I believe this has been brought up before and it's something we'd like to do. I've added it to the list for the next minor release so we don't forget it.

[2016-04-20 09:12] bradberger commented on #50
@brianespinosa Thanks! The `master` branch is right now the current production version, that would be the one to fork and PR

[2016-04-20 09:14] bradberger commented on #79
Sorry for the late response. The image seems to be 404. Can you upload again or describe the issue in more detail? Thanks!

[2016-04-20 09:19] bradberger commented on #82
Sounds good, you're right on all of those issues, I didn't really think about it in that way. The general goal that I think we're trying to stick with is to keep everything super-simple and very light - a few kb's at most.

I don't think the changes you propose are incompatible, but wanted to mention just so you have that in mind.

That all being said, if you've been able to make those changes (or

[2016-04-20 09:50] #90 closed

[2016-04-26 15:34] svift opened #92 "Script fails if loaded in the "head" section"
Hi,

I think it would be a nice to defer loading until `window.onload` event. Right now if the script is placed in the &lt;head&gt; section then everything fails with the following error:

`alertify.js:188 Uncaught TypeError: Cannot read property 'appendChild' of null`

This is because the `this.parent` is set `document.body` but since the `body` element is not yet created it fails. Using `window.

[2016-04-26 15:58] svift commented on #92
Here are the changes I'm suggesting. Please have a look:

https://github.com/svift/alertify.js/commit/0be3635e51a992ffced3d2ee1ba8d9dc37d8e768

[2016-04-26 16:22] #92 closed

[2016-05-04 01:29] dtruel opened #94 "Way to validate prompt before close?"
Hi,

I'd like to validate the prompt before it's closed - make sure there are at least 2 characters.  However, `ev.preventDefault();` doesn't seem to be doing it.  Is there any way to intercept this for validation?

[2016-05-05 09:49] chrisvidal commented on #88
same issue here,
- just need to adjust the .alert-logs CSS class z-index per default to a high value instead of 1 in the alertify.css
- add your own stylesheet with just this .alert-logs with a higher z-index

[2016-05-05 20:20] bradberger commented on #88
@chrisvidal Thanks for the tip. That's definitely a good solution. I think it would make sense to adjust the z-index in the next patch release, so I'll keep this open so we won't forget about it.

[2016-05-05 20:23] bradberger commented on #94
Unfortunately, there isn't a very good way to do that right now. It's definitely something that would be useful for sure.

We'll leave this open to see if we can come up with a solution for this.

[2016-05-06 15:00] vladjerca opened #95 "Port to TypeScript or include TypeScript Module"
I'm currently working on a new application using ng2.

I was thinking of porting the library to TypeScript, in order to offer support for ng2 and also have a JS output in order to easily support the ng-1 directives and native js support.

For the moment I've written a simple interface in order to export a module.

[code]

If you guys are comfortable with a typescript port, I can create a pull requ

[2016-05-12 11:55] jor3l opened #96 "Improve z-index for logs"
This is a suggestion, use z-index: 1000 (currently 1) for logs. I had to fix this in order to get them working for my project and I think the alerts are supposed to go on top of everything :)

[2016-05-12 12:49] bradberger commented on #96
Agreed! Closing this as it's actually a duplicate of #88 and it's definitely on the to-do list. If you can get to it before me, feel free to submit a PR.

[2016-05-12 12:49] #96 closed

[2016-05-12 15:23] jor3l commented on #88
I just added the pull request

[2016-05-12 15:24] jor3l commented on #96
Sorry for the duplicate, Too Lazy; Didn't Read

[2016-05-12 15:29] jor3l commented on #94
What about something like:

`alertify.prompt("", onOkay, onCancel, validatePromptValue)`

So **validatePromptValue** gets triggered before the **onOkay** and if passes, returns triggers it, this funcition should return a true/false in order to work like this:

`function validatePromptValue(value) { return (value.length > 3); }`

[2016-05-16 12:00] bradberger commented on #95
I love the idea of a TypeScript port. Actually have thought about rewriting it myself in the past, but never got around to it. So anything in TypeScript would be happily merged.

[2016-05-16 12:12] bradberger commented on #95
@vladjerca It would defintely also be great to package it as an Angular 2 module. We have a super basic wrapper for Angular v1 right now, but I've yet to dig into the Angular 2 docs for what would need to be done to make it work. If you have any insights or want to help out with that any help would be most welcome. Thanks!

[2016-05-16 12:44] #57 closed

[2016-05-17 17:58] Cristy94 opened #100 "Enter key should also submit Prompt dialog"
### Expected behavior
When I press <kbd>Enter</kbd> inside a prompt, the "OK" button should be triggered.
### Actual behavior
Enter key does nothing

### Steps to reproduce the behavior
`alertify.prompt("Test");`
Press <kbd>Enter</kbd>
Nothing happens

### Version of Alertify in use
1.0.8

[2016-05-20 23:41] eugenedw opened #101 "Cannot read property "appendChild" of null"
### Expected behavior
The alertify module should have initialized properly, with no errors upon adding the following:

### Actual behavior
Instead of loading as expected, the console logged the message:
"Cannot read property 'appendChild' of null

### Steps to reproduce the behavior
Using the standard (non-angular) version of alertify, version 1.0.11, and jQuery, place the message above within the

[2016-05-26 18:19] vladjerca commented on #95
Well, I'll branch the repository this weekend and I'll start working on it. I'll submit a PR once it's ready to go.

[2016-05-26 19:44] bradberger commented on #95
That's awesome, thanks!

[2016-05-30 11:42] jrusinek commented on #101
I tried your workaround. It did not work for me, though.

[2016-05-30 14:42] eugenedw commented on #101
Good to know that your workaround resolved the issue.

[2016-05-31 21:37] codeclown commented on #76
Chaining may not work (did not test), but setting it beforehand surely works.

[code]

[2016-06-07 04:01] tnrich commented on #72
any movement on this one? Maybe the api could be something like:
[code]

[2016-06-07 18:52] humbertocruz opened #103 "Cordova app with meteorJS"
I'm doing a web/mob app and loved alertifyJS and it's working perfect on the web version and on the mobile using the browser ( android or chrome ), but, when I build the mobile app APK and install it on the phone it's do not works, and I cant figure out why. The js script stops on the alertify line.

### Expected behavior

show a log

### Actual behavior

stops before the alertify line and shows n

[2016-06-07 19:22] humbertocruz commented on #103
I foun the problem, I need to create the alertify-log div and all works fine.

[2016-06-07 19:22] #103 closed

[2016-06-16 12:43] grafa opened #104 "Center position"
Hey there,

first of all I'd like to say well done.

Do you think it's possible to add center position for top and bottom? Some oldschool clients demand to have the message on top but centered. I guess position "top center" would do the job.

Thanks in advance.

[2016-06-19 15:09] #95 closed

[2016-06-21 01:33] ariskoumis opened #105 "MeteorJS package"
Hey all,

I'm thinking of writing a package for MeteorJS. I understand that [there are already a few](https://atmospherejs.com/?q=alertify), however those are either based on fabien's repo or of the [other fork of alertifyJS](http://alertifyjs.com/).

Does anyone know if this has been done already, and if not would there be any interest in this?

[2016-06-24 20:39] tnrich commented on #27
Similar to the above, I'd like to have the ability to add a class to the alert itself. Perhaps something like this:

[code]

[2016-06-29 15:47] ram535ii opened #106 "'Esc' should close confirm dialog"
### Expected behavior
When I open a confirm dialog and hit `Escape`, this should be equivalent to hitting `cancel`

### Actual behavior
Hitting `Escape` doesn't do anything in a confirm dialog

### Steps to reproduce the behavior
Simpy open an `alertify.confirm` and hit `Esc`

### Version of Alertify in use
1.0.11

[2016-06-29 15:55] ram535ii commented on #106
Currently you can hit `OK` using the `Enter` key.

I have tried adding the `Esc` in myself based on how `Enter` works, but can only get it working using code that I feel is wrong.

So first I tried this:
[code]

This doesn't appear to work, and it turns out that if I remove the following snippet, the `Enter` key still works to hit `OK`, so I can't find the code that makes `Enter` work. If anyone h

[2016-07-01 07:40] amiceli opened #107 "Multiple inputs in prompt"
Currently when we display a prompt we have only one input.

It can be useful to have many inputs, by passing an array like :

[code]

**values** will return something like : `[ name : "toni", lastname : "montana"]`

Or with custom template.

What do you think about it ?

[2016-07-06 04:15] KTS915 commented on #106
@ram535ii, how about using this:
`
$(document).keyup(function(e) {
        if (e.which === 27) {
			$('.alertify').hide();
		}
    });
`

[2016-07-06 05:24] bradberger commented on #106
It definitely makes sense for the `Escape` key to close the dialog. My thought that it would be great for it to work with all dialog-styled elements - confirms, prompts, and alerts.

Without trying it out, I think the code you have there might not be working because the event is tied to one of the buttons but should be more global, as in suggestion of @KTS915. Basically it would need listen for th

[2016-07-06 15:03] ram535ii commented on #106
I only later discovered that the only reason it looked like `Enter` was working is because the OK button had focus. In effect the listener also does not work there either.

@bradberger I think you're right about needing a more global listener. I'll give it a shot. I want to implement that `Escape`/`Enter` actually press the corresponding buttons (and doesn't just hide the alert) so that the correc

[2016-07-12 18:00] quedicesebas commented on #106
Needed and should be configurable

[2016-07-12 18:01] quedicesebas opened #110 "I need a dialog with 3 buttons (2 actiosn and cancel)"
How to do it?

[2016-07-14 14:43] bkonetzny opened #115 "Repository doesn't reflect 1.0.12 release"
### Expected behavior
- `package.json` in `master` branch should point to 1.0.12 version released on NPM, but points to 1.0.11
- `CHANGELOG.md` is stuck on 1.0.7 and should be updated
- `snyk` should be moved from `dependency` to `devDependency`, right?
### Actual behavior
- `package.json` in `master` branch points to 1.0.11
- `CHANGELOG.md` is stuck on 1.0.7 and should be updated
- I see no reaso

[2016-07-14 16:18] ChunkRadius commented on #115
All good points. Will try to get it updated asap.

[2016-07-16 06:06] quedicesebas commented on #110
Someone?

[2016-07-16 16:45] loofa opened #116 "Alertify not working properly with Bootstrap due to CSS selector conflict."
When using alertify.js with Bootstrap the transitions when showing and hiding dialogs and logs do not work properly. The reason for this is a CSS conflict. When triggered, alertify.js inserts the following nodes into the DOM:

`<div class="alertify"></div>` or `<div class="alertify-logs"></div>`

When showing or hiding an element, the classes "show" or "hide" are appended to the class list. Howeve

[2016-07-22 04:46] humbertocruz commented on #105
you can use it from npm since 1.3: npm install alertify.js --save on project root and you just need to add it on your code with " var alertify = require('alertify.js')

[2016-07-22 06:13] humbertocruz commented on #115
I was using alertify.js for a while, no problems. Today I update some tools and when I try to install alertify.js with npm, it installs.. A LOT, really, A LOT of dependecies packages. What's wrong ?
[npmpacks.txt](https://github.com/alertifyjs/alertify.js/files/377558/npmpacks.txt)

[2016-07-27 06:32] destinationunknown opened #117 "Using alertify.parent() does nothing."
### Expected behavior

Using `alertify.parent()` should change the position of logs to be relative to the element passed to `alertify.parent()`
### Actual behavior

The position of the logs doesn't change.
### Steps to reproduce the behavior
1. Check the default position of the alertify logs by doing this in your JavaScript: `alertify.log("Default position");`
2. Create an HTML element with any id

[2016-08-11 13:56] ghost commented on #117
Was having the same issue. After checking the DOM I saw the alertify divs are being put under the specified parent. The problem lies with the css positioning properties of the parent/child. To get the proper alignment
- Add `position: relative` to your parent container
- Extend the alertify-log class to add absolute positioning
  `.alertify-logs {
  position: absolute;
  };`

[2016-08-25 14:37] psolom opened #118 "Alertify 2.0"
First of all, thank you for the great plugin.
I have worked on it at [my branch](https://github.com/servocoder/alertify.js) for some time and added a lot of features, improvements and modification. Unfortunately some changes break backward compatibility. The list of main changes is the following:
- 'alert', 'confirm' and 'prompt' methods now accept object with setup for each button instead of call

[2016-08-25 16:08] Vallenain commented on #67
+1
Having `info` and `warn` levels of log would be greatly appreciated (and also more consistent with other logging components)

[2016-08-26 16:47] batusai513 opened #119 "Error when trying to stub an alertify method"
### Expected behavior

When i try to stub the confirm method of this library, it trows with TypeError: Attempted to wrap confirm which is already wrapped.

[code]

i'm using react and mocha, chai, and sinon for testing the app.

[code]

the basic behavior is: the user clicks on the delete button, it pops up an alertify confirm, when the user clicks the ok, the supplied callback prop is executed.

[2016-08-30 12:40] bogal commented on #104
I too would like to see the notification positioned in the centre, but to the left or right of the screen (ie. like bottom left, but half-way up the display).

[2016-09-01 01:13] alvachien opened #120 "Any plan to support Angular 2.0?"
It's cool that ngAlertify supports Angular 1.0 very well.
However, since Angular 2.0 is RC now, any plan to support it?

[2016-09-06 17:01] PabloVallejo commented on #72
Any updates on this?

[2016-09-06 17:04] PabloVallejo commented on #72
The dialog can be closed using:

[code]

[2016-09-07 02:06] winni4eva commented on #104
Also trying to position the alerts on the top right of the screen. Whats the best way to go about this.

[2016-09-07 04:12] heymackey commented on #104
@grafa I also wanted to have `top center` position. Here's what I added with my own css class to get centered horizontally. Since `.top` and `.bottom` are independent positioning, you don't need to worry about them, adding this "just works™" on [almost all current browsers](http://caniuse.com/#search=transform)

[code]

and then

[code]

@bogal I'd assume you could try the same with a custom css c

[2016-09-07 07:05] winni4eva commented on #104
Thanks daniel, worked liked a charm..

[2016-09-08 10:48] im-n1 commented on #104
This needs to be added to official repo ;)

[2016-09-08 12:50] heymackey commented on #104
I'll submit a pull request soon

[2016-09-14 10:30] vladjerca commented on #120
The library itself doesn't actually require anything special to play nice with NG2.

I found NG2 much more friendly when it comes to pure js library usage, than NG1. You have typings for the module so you can easily use the vanilla implementation without any problems.

[2016-09-27 17:21] AlexPaskal opened #122 "Why is not there an animation?"
**Hello! Thanks you for your library! It is very good and useful.**

But on your site there is an animation when alert close. But when I use library there is not it. What can I do? (I use the last version, now it's v1.0.11).

_Thanks you, and excuse me for my mistakes._

[2016-10-13 12:44] dfala opened #124 "Override a single alertify message delay."
I needed a way to change the delay of a single alertify message without changing or affecting all other delays for future alertify messages. I created the following pull request as a suggestion: [https://github.com/alertifyjs/alertify.js/pull/123](https://github.com/alertifyjs/alertify.js/pull/123).

[2016-10-14 18:18] quedicesebas commented on #101
What about this? es really serious

[2016-10-14 18:23] quedicesebas commented on #101
The problem is to include de alertify.js script on head. If you move it to the end of body, not workaround is required ;)

[2016-10-24 22:55] tnrich opened #125 "Alertify.error message not closing on click in firefox"
Using the alertify I am unable to close alertify on click when using firefox.

Here is a fiddle you can test:
https://jsfiddle.net/pay3hofs/

It works fine on chrome and safari but not on firefox.

Here is the code it is running:

[code]

This is the case for both alertify from npm or from cdn.

Thanks!

[2016-10-27 21:18] tnrich commented on #125
This seems like a pretty big issue. Anyone know of a good way to fix this?

[2016-11-17 05:48] fidenz-lakitha opened #128 "Not working in the production environment since I can't change the library's bower.json file"
### Expected behavior
For angular project we have to use the ngAlertify.js (as mentioned in the documentation) and expect the library to be working as expected when 'ngAlertify' is imported. Which is dose in the development environment since we have the option of changing the bower.json file of the library.
### Actual behavior
Since the deployment process is handled by Codeship it simple looks at

[2016-12-09 10:25] JesseBlackman opened #129 "'alertify' is not defined in vuejs"
### Error
  ✘  http://eslint.org/docs/rules/no-undef  'alertify' is not defined
  /opt/mywork/html/csplayer/src/views/Login.vue:73:11
            alertify.delay(1000).error(respMsg)
             ^

### Steps to reproduce the behavior
I install alertify.js by add it to my package.json:
`    "alertify.js": "^1.0.12",`
and in my template using:
`alertify.delay(1000).error(respMsg)`

[2017-01-03 12:12] nmcgann opened #131 "Problem using <nav> elements for button container with picnic css (Alertify v1.07, Picnic 6.2.5)"
Issue is that Picnic does not qualify targetting the `<nav>` element so it breaks Alertify's layout completely by over-riding Alertify's button wrapper CSS.

It is better to use standard `<div>` elements in the `holder: "<nav>{{buttons}}</nav>",` templates in the js and also change the css to target those divs rather than navs.

**This is a pic illustrating the issue:**
![alertify nav issue](https

[2017-01-04 17:27] franciscop commented on #131
Hello, Picnic CSS creator here. This is doubtlessly a problem in the way that Picnic is a prescriptive library that plays bad with others. However that is a design decision of Picnic, since in exchange it makes it much easier to develop with it for standalone projects. The main reason is to avoid to over-specify things like:

[code]

***

That said, I think that the use of `<nav>` in the say that

[2017-01-08 18:31] Wyzix33 commented on #106
Any news on this feature? It's kind of important to have it, ESC for Cancel, Enter for OK, maybe even moving among buttons with Left/Right arrows...

Thanks

[2017-01-13 14:29] cyberzilla opened #133 "How to relocate alertify inside to a div?"
i use alertify.parent(selector), but overlay still covered in page, **expected covered over the div**

[2017-01-13 14:35] #133 closed, assigned to nobody

[2017-01-15 12:47] joumorisu commented on #125
@tnrich This was fixed in 1.0.11

The offending line was line 118:
`hideElement(ev.srcElement);`

srcElement doesn't work in Firefox, and thus was undefined. This issue can be closed.

[2017-01-15 17:33] tnrich commented on #125
Thanks for that!

On Sun, Jan 15, 2017, 5:47 AM Joseph <notifications@github.com> wrote:

[2017-01-23 17:11] jkupczak opened #134 "Alertify doesn't work if I remove the <body> element from the DOM and then re-add it."
### Expected behavior
Alertify messages appear.

### Actual behavior
Nothing appears.

### Steps to reproduce the behavior
Remove the `<body>` element. Recreate it and insert it into the DOM.

### Version of Alertify in use
Latest.

The original alertify.js works in this scenario, as does the other Alertify.js at http://alertifyjs.com/.

[2017-02-03 19:32] justinpitcher commented on #134
Yeah, the `alertify._$$alertify.parent` value is null.

Doing a check to see if `this.parent` is `null` and resetting it in the build function seems to do the trick.

[2017-02-16 12:21] bkbooth commented on #116
Thanks for your issue/answer @loofa, really helped me and saved me some debugging time!

Another possible workaround that might be preferred for some people is this:
[code]

It's CSS-only and should only affect alertify.js. It just overrides bootstrap's `!important` declarations for `.show` and `.hide`

[2017-02-16 12:23] bkbooth commented on #122
Are you using Bootstrap by any chance (or other CSS styles affecting `.show` and `.hide` classes)?

#116 helped me, it might help you too.

[2017-03-13 07:08] suemcnab commented on #129
Have you done this?

[code]

[2017-03-15 12:42] damuz91 commented on #101
I think this is an issue that should be documented somewhere. But can you help me understand?, If i put my script in the head, and use it on my document ready callback, how comes it doesn't know that the body is already loaded? Or does he setup in load time?

[2017-03-20 01:27] kirkdm opened #136 "alertify doesn't remember to resize when alertifying second time"
### Expected behavior
I have resizeTo('70%','70%') and when I call it the second time it doesn't remember to resize it just remove the width and height

I'm navigating between routes through javascript with hash tags using Backbone.js

### Actual behavior
when call the function a second time it doesn't reproduce the previous behavior it just loads a dialog without the width and height
Whats happen

[2017-04-03 07:44] seyyed-sina commented on #106
reviewing comments, I suggest consider to add 'close popup on click outside dialog' too.

[2017-04-13 14:29] rgnevashev opened #137 "SSR document is not defined"
I get "document is not defined" message when doing import in server env

[2017-05-26 04:25] DRakeshKumar opened #138 "Alertify.js Position set not working"
### Expected behavior
when I am setting the position for top-right,It should show notification in top-right.
Here, I am using the below Syntax.
 **alertify.set('notifier','position', 'top-right');
 alertify.success('Current position : ' + alertify.get('notifier','position'));**
### Actual behavior
when i am giving position, its not working and throwing error that alertify.set is not a function.
![

[2017-05-26 04:26] DRakeshKumar commented on #138
I am using alertify.js with angular 4

[2017-05-26 05:01] DRakeshKumar commented on #138
Here is the [solution..](https://github.com/alertifyjs/alertify.js/issues/104)
->Put the below syntax in your stylesheet.
.alertify-logs.right {
  right: 0;
  width: 20%;
}
.alertify-logs.right > .default,
.alertify-logs.right > .success,
.alertify-logs.right > .error {
  transform: translateX(-5%);
  transform: translateY(20%);
  text-align: left;
}
-> use this in your template.
alertify.logPosit

[2017-05-26 07:01] drnkwati opened #139 "support for atleast ie9 without polyfill"
Please consider support for ie9 out of the box without any polyfill.
Many frameworks still consider atleast ie9

[2017-05-30 14:14] drnkwati opened #140 "How to animate alert in and out"
I can't figure out how to animate alert box.
I will like to add fade-in fadeout animation.
As on the alertify.success
Any ideas?

[2017-06-22 17:02] dshastry commented on #140
@drnkwati, haven't come across how to fade out but you can fade in using the following CSS. Adjust the transition timing to control speed.

`.alertify {
    -webkit-animation: fadein .33s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein .33s; /* Firefox < 16 */
        -ms-animation: fadein .33s; /* Internet Explorer */
         -o-animation: fadein .33s; /* Opera < 12.1 */

[2017-06-26 10:33] AlexNodex opened #142 "Website examples"
Hi.

On your website examples, the last example (which resets the ok button)

I think you need to put a setTimeout in there to show it actually changes becuase you never get to see the first value ("Go For It!")

[2017-06-29 23:54] Hodes commented on #101
I had the same issue in my project. Diving into the source code I found that the 'parent' property of alertify is set only on reset() method. So, I did call to `alertify.reset()` just after initialize my SPA.

One thing that would help on this issue is:
[code]
Because if there's no parent for alertify yet in the time that you want to show something, it could just grab a default one.

[2017-07-10 09:14] itsViney opened #143 "Styling multiple alerts differently?"
Is it possible to add an additional class to the alert when calling alertify? I have a page that calls alertify for two different alerts and I would like to style one differently to the other, but there doesn't appear to be a way to differentiate between the two in CSS. If I had a way to add an additional unique class to each alert I would be able to do this.

[2017-07-13 20:30] ghost opened #144 "alertifyjs.org website is down"
Looks like the domain expired

[2017-07-15 17:00] CrazyPython opened #145 "Ask GitHub support to detach this fork from the main repo"
That way it looks like its own repository. I've contacted them to do this before; they're pretty fast.

[2017-07-18 03:45] alanhamlett commented on #144
It's renewed now.

[2017-07-18 15:36] #144 closed, assigned to nobody

[2017-09-02 07:25] eddow opened #146 "[Feature request] Custom theming"
I would have wished to implement the [Semantic UI](https://semantic-ui.com/) theme and therefore add semantic classes to the buttons and inputs. I was planning to implement it in a project as a "custom theme" but couldn't as alertify classes are defined negatively ( `:not()`)

I give here an exemple about semantic but, indeed, it could be done *"in general"* I think.

Note: the first point is of c

[2017-09-05 08:00] ChunkRadius commented on #146
Agreed! Is it correct to think that for backwards compatibility that the second option would be better? The first option seems cleaner and perhaps more ideal, but we don't want to break anything unexpectedly.

Would you be in a position to submit a PR? It's unlikely that I can get to it in the near future. I'll merge as soon as it's ready.

[2017-10-10 08:13] Khegyi opened #149 "Notification dismiss event/callback"
Hi!
It would be nice if i could capture the when the notification disappears, or i could give a callback function after it disappeared.

Are you planning such feature in the near future?

Thx,
Khegyi

[2017-10-20 21:17] asfixia opened #150 "Missing Option: Alert keep active while MouseOver"
### Expected behavior
Should have a parameter what allows the user to keep the alert while the user is with his mouse over.

### Version of Alertify in use
All

[2017-10-24 18:34] danilomalzao commented on #150
Modification proposal, only need three little modifications:

1) At function hideElement:

var hideElement = function(el) {

    if (! el) {
      return;
    }

    var removeThis = function() {
      if (el && el.parentNode) {
        el.parentNode.removeChild(el);
      }
    };

[code]

      el.classList.remove("show");
      el.classList.add("hide");
      el.addEventListener("transitionend"

[2017-10-24 18:35] danilomalzao commented on #150
Modification proposal, only need three little modifications:

1) At function hideElement:

var hideElement = function(el) {

    if (! el) {
      return;
    }

    var removeThis = function() {
      if (el && el.parentNode) {
        el.parentNode.removeChild(el);
      }
    };

[code]

      el.classList.remove("show");
      el.classList.add("hide");
      el.addEventListener("transitionend"

[2017-10-24 21:05] asfixia commented on #150
Suggestion to implementation:

Two new functions:
[code]

[code]

Modify the function 'close':

[code]

And add a property "stayWhileMouseOver" to the _alertify object.

[2017-11-30 14:41] team-btg opened #152 "Cannot read property 'appendChild' of null"
I have a MVC project created in Visual Studio, but when I import the alertify.js and trying the basic
`alertify.log("Standard log message");` I've got this error message.

`
Cannot read property 'appendChild' of null
    at Object.setupLogContainer (alertify.js:188)
    at Object.notify (alertify.js:213)
    at Object.log (alertify.js:174)
    at Object.log (alertify.js:455)
    at assign_back (se

[2017-12-17 15:37] aleor commented on #152
Had the same issue, placing script inside <body> tag has solved it for me.

[2017-12-19 12:31] burawi commented on #143
+1
It is easy to make possible. I would suggest to add these lines in line 458 of `/src/js/alertify.js`:
[code]
This will give us the possibility to write:
[code]

[2017-12-26 13:04] ShadowQueen opened #154 "How to use alertify.js with Angular CLI: 1.5.4?"
Hello,

I am trying to use alertify.js with Angular CLI: 1.5.4, but no luck.
In the package.json file I have these packages:

    "@types/alertify": "^0.3.30",
    "alertify.js": "^1.0.12",

Angular CLI: 1.5.4
Node: 8.9.1
OS: win32 x64
Angular: 5.1.2
... animations, common, compiler, compiler-cli, core, forms
... http, language-service, platform-browser
... platform-browser-dynamic, router

@angul

[2018-01-31 17:56] brbeaird commented on #152
Do you mean you put the entire alertify script string into a script tag? That seemed to work for me but seems really odd.

[2018-02-03 03:12] irfanullahjan commented on #152
I had to put the link to script in footer to fix this issue.

[2018-02-26 12:37] ndrkltsk commented on #152
EDIT:
duplicate of [101](https://github.com/alertifyjs/alertify.js/issues/101)

[2018-02-26 12:42] brbeaird commented on #152
This ended up being related to script order. I had the script being fired before the binding element was rendered.

[2018-03-07 14:31] csimpi opened #156 "Misspelled word in the demo"
Hi, Just wanna let you know, you misspelled this:
_Default **botoom** left position_ instead Default **bottom** left position

Soruce:
https://alertifyjs.org/

Thanks for this awesome plugin <3

[2018-03-19 19:34] csimpi opened #157 "Top righ position doesn't appear if window scrolled down"
### Expected behavior
If I open a page and scroll down to the Save button, the alert should appear on the top right.

### Actual behavior
If I scroll down, I can't see the log message.
If I click to the save to the bottom of the page, then I scroll up asap, I can see the alert (so this happens because it's hidden by scrolling)
If I scroll down, scroll up, and scroll down again, the log message app

[2018-04-12 09:03] tomalexhughes opened #158 "[Feature Request] Option to disable automatic injection of CSS styles"
Currently CSS is injected automatically via a <link> tag inserted into the DOM.

This can be prevented with an empty **link** tag in the DOM, like below:

`link(rel="stylesheet" id="alertifyCSS")`

Whilst this works as expected to me it feels unsemantic to provide an empty link tag that is not actually doing anything.

Instead I think it would be a better option to provide an option to alertify th

[2018-07-20 00:45] aleabodo opened #159 "Where is the website?"
https://alertifyjs.org is gone. Yesterday the package disappeared in npmjs.com (Today back again). Is this package still supported and are we going to have the documentation back?

[2018-07-25 08:29] bmcx commented on #159
@aleabodo i dont knw wht happen't to the site, but you should use achive.org ;)
https://web.archive.org/web/20180402165002/https://alertifyjs.org/

[2018-08-16 17:16] jesobreira commented on #159
One month and the website is still down. At least the repo owners could set it up on a Github Pages for free...

But since the last commit was 2 years ago, I wonder if this project is still maintained.

![https://i.ytimg.com/vi/xZ_JiU7L9Zk/hqdefault.jpg](https://i.ytimg.com/vi/xZ_JiU7L9Zk/hqdefault.jpg)

[2018-10-02 19:12] rbrlortie commented on #159
Here it is:
--------------

alertify.js
===========

### Simple browser dialogs v1.0.10

[_file\_download_ Download Now](https://github.com/alertifyjs/alertify.js/archive/master.zip)

Alertify.js is a small library which provides light-weight, high performance browser dialogs. Since it uses only 1 HTTP request and a payload of less than 3kB, it's a great option for adding basic style to alert, dia

[2018-11-14 23:14] dshastry commented on #159
I've been needing to see live examples that the site had before it went down so I grabbed the website folder from the repo, updated the links and threw it on my server. Hope it helps!

http://dev.davidshastry.com/alertify/

[2019-08-01 13:16] SamMorrowDrums commented on #159
Rawgit reaches actual end of life in October, so also, an alternative CDN solution would really be an important move to make for the website / documentation.

Rawgit's suggestion of [jsdelivr](https://www.jsdelivr.com/?docs=gh) seems like the most appropriate choice for now.

https://cdn.jsdelivr.net/gh/alertifyjs/alertify.js@v1.0.10/dist/js/alertify.js

[2020-05-03 21:32] jesobreira commented on #159
That's why I believe GH Pages is there for that and project websites should be hosted nowhere else...

@dshastry your mirror has gone too?

[2020-05-03 21:33] GregOriol commented on #159
@jesobreira You should probably switch away from this project as it is unmaintained... a website is not needed at this point

[2020-05-03 21:40] jesobreira commented on #159
I have a huge legacy codebase that uses this lib... To be honest, it's a better option for me if I keep giving this library the maintenance and attention it deserves, but I'd like to check how the old maintainers would see it first...

I could get the website at [Web Archive](https://web.archive.org/web/20170830163717/https://alertifyjs.org/) and host it in GH Pages but as the footer states, it's

[2021-04-08 22:37] dshastry commented on #159
@jesobreira : http://davidshastry.com/dev/alertify/

Sorry moved webhosts to URL changed.

[2021-06-05 17:57] #119 closed, assigned to nobody

[2022-04-13 16:42] #72 closed